body{
    font: 13px/1.3 Open sans, helvetica, ubuntu, arial, sans-serif;
    color: #2a2e30;
    margin: 0;
    padding: 0;
}

a, .zenstat-link{
    color: #207aae;
    text-decoration: underline;
    cursor: pointer;
    display: inline;
}

a:hover, .zenstat-link:hover{
    text-decoration: none;
}

.zenstat-wrapper{
    width: 350px;
    padding: 15px;
}

.zenstat-title{
    font-size: 15px;
    margin: 0 0 15px;
    font-weight: bold;
}

.zenstat-btn{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    transition: all .1s linear;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    background: #008bc8;
    cursor: pointer;
}

.zenstat-btn:hover{
    background: #199bc8;
}

.zenstat-result{
    padding: 10px 0 20px ;
}

.zenstat-result_item{
    margin: 0 0 10px;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

.zenstat-state{
    display: none;
}

.zenstat-extension_subscribe{
    text-align: right;
    color: #73818a;
    font-size: 12px;
    padding: 20px 0 0;
}

.zenstat-extension_subscribe a{
    color: #73818a;
}